*.tiny
!counter.tiny
!main.tiny
release.md
!new_std_module.tiny
!src/testdata/tiny/*.tiny
!src/testdata/tiny/errors/*.tiny
!src/testdata/tiny/imports/*.tiny
*.exe
tiny_runtime_linux_amd64
*.syso
*.tbc
*.txt
dist/
test/
.tinycache
tiny.exe~