*.tiny
!counter.tiny
!main.tiny
!child.tiny
release.md
release notes
!new_std_module.tiny
!src/testdata/tiny/*.tiny
!src/lsp_stubs/*.tiny
!src/testdata/tiny/errors/*.tiny
!src/testdata/tiny/imports/*.tiny
!observer/
!test.tiny
*.exe
tiny_runtime_*
*.syso
*.tbc
*.txt
dist/
test/
.tinycache
tiny.exe~
tiny_linux_*
tiny_darwin
tiny_linux_arm64
ttt/
jit-tests/